.skin-dark-blue .navbar .dropdown-menu > li > a {
  color: #444444;
}

/* skin-dark-blue navbar */
.skin-dark-blue .navbar {
  background-color: #28313f;
}
.skin-dark-blue .navbar .nav a {
  color: rgba(255, 255, 255, 0.8);
}
.skin-dark-blue .navbar .nav > li > a:hover,
.skin-dark-blue .navbar .nav > li > a:active,
.skin-dark-blue .navbar .nav > li > a:focus,
.skin-dark-blue .navbar .nav .open > a,
.skin-dark-blue .navbar .nav .open > a:hover,
.skin-dark-blue .navbar .nav .open > a:focus {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-dark-blue .navbar .navbar-right > .nav {
  margin-right: 10px;
}
.skin-dark-blue .navbar .sidebar-toggle .icon-bar {
  background: rgba(255, 255, 255, 0.8);
}
.skin-dark-blue .navbar .sidebar-toggle:hover .icon-bar {
  background-color: #fbfbfb !important;
}
/* skin-dark-blue logo */
.skin-dark-blue .logo {
  background-color: #28313f;
  color: #f9f9f9;
}
.skin-dark-blue .logo > a {
  color: #f9f9f9;
}
.skin-dark-blue .logo:hover {
  background: #313b4b;
}
/* skin-dark-blue content header */
.skin-dark-blue .right-side > .content-header {
  background: #fbfbfb;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}
/* Skin-blue user panel */
.skin-dark-blue .user-panel > .image > img {
  border: 2px solid #555f70;
}
.skin-dark-blue .user-panel > .info,
.skin-dark-blue .user-panel > .info > a {
  color: #ffffff;
}
/* skin-dark-blue sidebar */
.skin-dark-blue .sidebar {
  border-bottom: 0px solid #fff;
}
.skin-dark-blue .sidebar > .sidebar-menu > li {
  border-top: 1px solid #4d5a6d;
  border-bottom: 1px solid #4d5a6d;

}
.skin-dark-blue .sidebar > .sidebar-menu > li:first-of-type {
  border-top: 0px solid #dbdbdb;
  
}
.skin-dark-blue .sidebar > .sidebar-menu > li:first-of-type > a {
  border-top: 0px solid #fff;
  
}
.skin-dark-blue .sidebar > .sidebar-menu > li > a {
  margin-right: 1px;
  color:#fff;
}
.skin-dark-blue .sidebar > .sidebar-menu > li > a:hover,
.skin-dark-blue .sidebar > .sidebar-menu > li.active > a {
  color: #fff;
  background: #353f4f;
}
.skin-dark-blue .sidebar > .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #353f4f;
  }
.skin-dark-blue .left-side {
  background: #424f63;
  -webkit-box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.1);
  box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.07);
}
.skin-dark-blue .sidebar a {
  color: #555555;
}
.skin-dark-blue .sidebar a:hover {
  text-decoration: none;
}
.skin-dark-blue .treeview-menu > li > a {
  color: #f2f2f2;
}
.skin-dark-blue .treeview-menu > li.active > a,
.skin-dark-blue .treeview-menu > li > a:hover {
  color: #111;
}
.skin-dark-blue .sidebar-form {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #dbdbdb;
  margin: 10px 10px;
}
.skin-dark-blue .sidebar-form input[type="text"],
.skin-dark-blue .sidebar-form .btn {
  box-shadow: none;
  background-color: #fafafa;
  border: 1px solid #fafafa;
  height: 35px;
}
.skin-dark-blue .sidebar-form input[type="text"] {
  color: #666;
  -webkit-border-top-left-radius: 2px !important;
  -webkit-border-top-right-radius: 0 !important;
  -webkit-border-bottom-right-radius: 0 !important;
  -webkit-border-bottom-left-radius: 2px !important;
  -moz-border-radius-topleft: 2px !important;
  -moz-border-radius-topright: 0 !important;
  -moz-border-radius-bottomright: 0 !important;
  -moz-border-radius-bottomleft: 2px !important;
  border-top-left-radius: 2px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 2px !important;
}
.skin-dark-blue .sidebar-form input[type="text"]:focus,
.skin-dark-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-dark-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-dark-blue .sidebar-form .btn {
  color: #999;
  -webkit-border-top-left-radius: 0 !important;
  -webkit-border-top-right-radius: 2px !important;
  -webkit-border-bottom-right-radius: 2px !important;
  -webkit-border-bottom-left-radius: 0 !important;
  -moz-border-radius-topleft: 0 !important;
  -moz-border-radius-topright: 2px !important;
  -moz-border-radius-bottomright: 2px !important;
  -moz-border-radius-bottomleft: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  border-bottom-left-radius: 0 !important;
}

/**Additions**/
.impersonate-sticky-info {
  background-color: #28313f;
  border:1px solid #fff;
  margin-top:-1px;
}

a, a:hover {
  color: #28313f;
}

.box.box-primary {
  border-top-color: #28313f;
}
.box .box-header {
    border-bottom: 1px solid #28313f;
}
.btn.btn-primary {
  background-color: #28313f;
  border-color: #28313f;
}
.btn.btn-primary:hover {
  background-color: #28313f;
  border-color: #28313f;
}
footer {
    padding: 2px 5px 2px 5px;
    background: #28313f;
    color:#ffffff;
}