.skin-pink .navbar .dropdown-menu > li > a {
  color: #444444;
}

/* skin-pink navbar */
.skin-pink .navbar {
  background-color: #FF0084;
}
.skin-pink .navbar .nav a {
  color: rgba(255, 255, 255, 0.8);
}
.skin-pink .navbar .nav > li > a:hover,
.skin-pink .navbar .nav > li > a:active,
.skin-pink .navbar .nav > li > a:focus,
.skin-pink .navbar .nav .open > a,
.skin-pink .navbar .nav .open > a:hover,
.skin-pink .navbar .nav .open > a:focus {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-pink .navbar .navbar-right > .nav {
  margin-right: 10px;
}
.skin-pink .navbar .sidebar-toggle .icon-bar {
  background: rgba(255, 255, 255, 0.8);
}
.skin-pink .navbar .sidebar-toggle:hover .icon-bar {
  background: #f6f6f6 !important;
}
/* skin-pink logo */
.skin-pink .logo {
  background-color: #FF0084;
  color: #f9f9f9;
}
.skin-pink .logo > a {
  color: #f9f9f9;
}
.skin-pink .logo:hover {
  background: #FF0084;
}
/* skin-pink content header */
.skin-pink .right-side > .content-header {
  background: #fbfbfb;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
/* Skin-blue user panel */
.skin-pink .user-panel > .image > img {
  border: 1px solid #dfdfdf;
}
.skin-pink .user-panel > .info,
.skin-pink .user-panel > .info > a {
  color: #555555;
}
/* skin-pink sidebar */
.skin-pink .sidebar {
  border-bottom: 1px solid #fff;
}
.skin-pink .sidebar > .sidebar-menu > li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #dbdbdb;
}
.skin-pink .sidebar > .sidebar-menu > li:first-of-type {
  border-top: 1px solid #dbdbdb;
}
.skin-pink .sidebar > .sidebar-menu > li:first-of-type > a {
  border-top: 1px solid #fff;
}
.skin-pink .sidebar > .sidebar-menu > li > a {
  margin-right: 1px;
}
.skin-pink .sidebar > .sidebar-menu > li > a:hover,
.skin-pink .sidebar > .sidebar-menu > li.active > a {
  color: #222;
  background: #f9f9f9;
}
.skin-pink .sidebar > .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #f9f9f9;
}
.skin-pink .left-side {
  background: #f4f4f4;
  -webkit-box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.1);
  box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.07);
}
.skin-pink .sidebar a {
  color: #555555;
}
.skin-pink .sidebar a:hover {
  text-decoration: none;
}
.skin-pink .treeview-menu > li > a {
  color: #777;
}
.skin-pink .treeview-menu > li.active > a,
.skin-pink .treeview-menu > li > a:hover {
  color: #111;
}
.skin-pink .sidebar-form {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #dbdbdb;
  margin: 10px 10px;
}
.skin-pink .sidebar-form input[type="text"],
.skin-pink .sidebar-form .btn {
  box-shadow: none;
  background-color: #fafafa;
  border: 1px solid #fafafa;
  height: 35px;
}
.skin-pink .sidebar-form input[type="text"] {
  color: #666;
  -webkit-border-top-left-radius: 2px !important;
  -webkit-border-top-right-radius: 0 !important;
  -webkit-border-bottom-right-radius: 0 !important;
  -webkit-border-bottom-left-radius: 2px !important;
  -moz-border-radius-topleft: 2px !important;
  -moz-border-radius-topright: 0 !important;
  -moz-border-radius-bottomright: 0 !important;
  -moz-border-radius-bottomleft: 2px !important;
  border-top-left-radius: 2px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 2px !important;
}
.skin-pink .sidebar-form input[type="text"]:focus,
.skin-pink .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-pink .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-pink .sidebar-form .btn {
  color: #999;
  -webkit-border-top-left-radius: 0 !important;
  -webkit-border-top-right-radius: 2px !important;
  -webkit-border-bottom-right-radius: 2px !important;
  -webkit-border-bottom-left-radius: 0 !important;
  -moz-border-radius-topleft: 0 !important;
  -moz-border-radius-topright: 2px !important;
  -moz-border-radius-bottomright: 2px !important;
  -moz-border-radius-bottomleft: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  border-bottom-left-radius: 0 !important;
}

/**Additions**/
.impersonate-sticky-info {
  background-color: #FF0084;
  border:1px solid #fff;
  margin-top:-1px;
}

a, a:hover {
  color: #FF0084;
}

.box.box-primary {
  border-top-color: #FF0084;
}
.box .box-header {
    border-bottom: 1px solid #FF0084;
}
.btn.btn-primary {
  background-color: #FF0084;
  border-color: #FF0084;
}
.btn.btn-primary:hover {
  background-color: #FF0084;
  border-color: #FF0084;
}
footer {
    padding: 2px 5px 2px 5px;
    background: #FF0084;
    color:#ffffff;
}